@model ANM.Models.CTFModel
@{
    ViewBag.Title = "प्रमाणपत्र";
}
@if (Model.Result)
{

    <div class="pcoded-content">
        <div class="mb-2 text-center">  <input type="button" class="btn btn-primary" id="btn" value="Print" onclick="printDiv();"></div>
        <div class="row">

            <div style="width:100%;" id="DivIdToPrint">
                <div style="border:2px solid #000000;background:#ffffff;">
                    <div style="min-width: 100% !important; display: flex;">
                        <div style="width:40%; float:left; padding-left:2%;"><img src="~/Content/assets/images/bhr_logo.png" alt="" style=" height: 130px;" /></div>
                        <div style="width:30%; text-align:left; padding:5% 0 0 0%;font-size:25px;font-weight:bold;"><strong>प्रमाणपत्र</strong> </div>
                        <div style="width: 20%; float: right;"><img src="~/Content/assets/images/NHM_logo.png" alt="" style=" height: 130px;" /></div>
                    </div>
                    <div style="width: 100%; text-align: center; padding-bottom: 3%; font-size: 18px; font-weight: bold;">बधाई हो !</div>
                    <div style="width: 100%; text-align: center; font-size: 22px; font-weight: bold; color: #A67B26; ">पने सत्र 1 टीकाकरण सारणी को<br /> सफलतापूर्वक पूरा कर लिया है |</div>
                    <div style="min-width: 100% !important; display: flex;">
                        <div style="width:15%; padding:0 0 4% 8%; "><img src="~/Content/assets/images/ChildPicNew.png" alt="Alternate Text" style=" height: 80px;" /></div>
                        <div style="width: 85%; padding: 4% 0 0 18%; text-align: left; font-size: 22px; font-weight: bold;">@Model.Name</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
else
{
    <h4 class="text-capitalize text-center text-danger">प्रमाणपत्र नहीं है |</h4>
}

<script>
    //$(document).ready(function () {
    //    printDiv();
    //});

    function printDiv() {
        var divToPrint = document.getElementById('DivIdToPrint');
        var newWin = window.open('', 'Print-Window');
        newWin.document.open();
        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
        newWin.document.close();
        setTimeout(function () { newWin.close(); }, 10);
    }
</script>