@model ANM.Models.CTFModel
@{
    ViewBag.Title = "प्रमाणपत्र";
}
@if (Model.Result)
{

    <div class="pcoded-content">
        <div class="mb-2 text-center">  <input type="button" class="btn btn-primary" id="btn" value="Print" onclick="printDiv();"></div>
        <div style="margin-left: 160px;"><div class="row">
    <div class="col-md-12">
        <div style="max-width:90%;" id="DivIdToPrint">
            <div id="divbgimg" style="width: 100%; height: 390px; " class="bcg">
                <style id="printStyles">
                    .bcg {
                        width: 80% !important;
                        background: url('https://localhost:44334/border3.png')no-repeat !important;
                    }

                    @@media print {
                        * {
                            -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
                            color-adjust: exact !important; /*Firefox*/
                        }

                        @@media screen and (min-width: 20em) {
                            br {
                                /* hide the BR tag for wider screens (i.e. no line break) */
                                display: none;
                            }
                        }
                    }
                </style>
                <div style="padding-left: 60px; padding-top: 60px;">
                    <div><img src="~/Content/assets/images/PrintHeader.png" alt="Alternate Text" style="width: 445px" /></div>
                </div>
                <div style="padding-left: 71px; padding-top: 30px; font-size: 16px; font-weight: 900; font-family: fantasy; ">

                    <span>यह प्रमाणित किया जाता है&nbsp; <strong style="font-size: 22px; font-weight: 900; color:#ef7015; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">@Model.Name</strong></span>
                    <br /><span>ने टीकाकरण सारणी सत्र को सफतापूर्वक पूरा कर लिया है |</span>
                    <br /><span> राज्य स्वास्थ्य समिति,बिहार आपके उज्वल भविष्य की </span>
                    <br /><span style="padding-left: 144px; text-align:center;">कामना करती है |</span>

                </div>
                <div style="padding-left: 91px; padding-top:8px;">
                    <div><img src="~/Content/assets/images/PrintChild.png" alt="Alternate Text" style="width: 200px" /></div>
                </div>
            </div>
        </div>
    </div>
</div></div>
    </div>
}
else
{
    <h4 class="text-capitalize text-center text-danger">प्रमाणपत्र नहीं है |</h4>
}

<script>
    //$(document).ready(function () {
    //    printDiv();
    //});

    function printDiv() {
        var divToPrint = document.getElementById('DivIdToPrint');
        var newWin = window.open('', 'Print-Window');
        var printStyles = document.getElementById("printStyles").outerHTML;
        newWin.document.open();
        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + printStyles + '</body></html>');
        newWin.document.close();
        setTimeout(function () { newWin.close(); }, 10);
    }
</script>