@{
    ViewBag.Title = "Messages ";
}
<div class="app-content">
    <div class="side-app">
        <div style="height:480px;">
            <div style="padding-top: 20%;">
                <h1 class="text-c-yellow text-center">आपका प्रमाणपत्र उपलब्ध नहीं है</h1>
            </div>
        </div>
    </div>
</div>
