@using System.Data
@{
    ViewBag.Title = "Dashboard";
    DataTable dt = new DataTable();
    var Ts = 0; var TP = 0; var TF = 0;
    if (Model != null)
    {
        dt = Model;
        Ts = Convert.ToInt32(dt.Compute("Sum(TotalMark)", string.Empty));
        TP = Convert.ToInt32(dt.Compute("Sum(Pass)", string.Empty));
        TF = Convert.ToInt32(dt.Compute("Sum(Fail)", string.Empty));
    }
}
<style>
    .spanSm {
        font-size: 11px;
        /*color:green !important;*/
    }
    /*path[Attributes] {*/
    /*fill: rgb(46, 136, 201);*/
    /*fill: #c5d9dc;
    }*/
    path:hover {
        fill: #0094ff;
    }
    /*path {
        fill: #c5d9dc !IMPORTANT;
    }*/

</style>

<div class="app-content">
    <div class="side-app">
        <div>
            <!-- PAGE-HEADER -->
            @*<div class="page-header">
        <ol class="breadcrumb">*@
            <!-- breadcrumb -->
            @*<li class="breadcrumb-item"><a href="#"><h3 class="mb-0 breadcrump-tittle">Welcome To BHY</h3></a></li>*@
            @*</ol><!-- End breadcrumb -->
        <div class="ml-auto">
                <div class="input-group">
                    <a href="#" class="btn btn-white button-icon mr-3 mt-1 mb-1">
                        <span><i class="fe fe-shopping-cart"></i>Buy Now</span>
                    </a>
                    <a href="#" class="btn btn-white button-icon mr-3 mt-1 mb-1">
                        <span><i class="fe fe-printer"></i>Print</span>
                    </a>
                    <a href="#" class="btn btn-primary button-icon mr-3 mt-1 mb-1">
                        <span><i class="fe fe-download"></i>Download</span>
                    </a>
                </div>
            </div>*@
            @*</div>*@
            <!-- PAGE-HEADER END -->

            <div class="row pt-2">
                <div class="col-sm-12 col-xl-4 col-lg-6">
                    <div class="card overflow-hidden">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-md-8">
                                    <a href="#" target="_blank">
                                        <div class="d-flex">
                                            <div class="order-icon mb-0 border-primary">
                                                <i class="fa fa-users text-primary"></i>
                                            </div>
                                            <div class="ml-3 mt-1">
                                                <h5 class="mb-1 widget-tittle">Total</h5>
                                                <span class=""><i class="fa fa-caret-up "></i><strong class="">@Ts</strong></span>
                                                @*<span class="text-muted ml-0 spanSm text-success">Last Treatment</span>*@
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <h2 class="mt-2 number-font mb-0 float-md-right" id="h2totalreg"></h2>
                                </div>
                            </div>
                        </div>
                        <div>
                            @*<div class="flot-chart-absolute h-99 chart-dropshadow-primary" id="flotChart2" style="padding: 0px; position: relative;">
                            <canvas class="flot-base" width="343" height="99" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 343.531px; height: 99px;"></canvas><canvas class="flot-overlay" width="343" height="99" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 343.531px; height: 99px;"></canvas>
                        </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6">
                    <div class="card overflow-hidden">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-md-8">
                                    <a href="#" target="_blank">
                                        <div class="d-flex">
                                            <div class="order-icon mb-0 border-success">
                                                <i class="fa fa-users text-success"></i>
                                            </div>
                                            <div class="ml-3 mt-1">
                                                <h5 class="mb-1 widget-tittle">Pass</h5>
                                                <span class=""><i class="fa fa-caret-up"></i><strong class="fw-bold">@TP</strong></span>
                                                @*<span class="text-muted ml-0 spanSm">Treatment given</span>*@
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <h2 class="mt-2 number-font mb-0 float-md-right" id="h2totalctreat"></h2>
                                </div>
                            </div>
                        </div>
                        @*<div>
                        <div class="flot-chart-absolute h-99 chart-dropshadow-success" id="flotChart3" style="padding: 0px; position: relative;"><canvas class="flot-base" width="343" height="99" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 343.531px; height: 99px;"></canvas><canvas class="flot-overlay" width="343" height="99" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 343.531px; height: 99px;"></canvas></div>
                    </div>*@
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6">
                    <div class="card overflow-hidden">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-md-8">
                                    <a href="#" target="_blank">
                                        <div class="d-flex">
                                            <div class="order-icon mb-0 border-success">
                                                <i class="fa fa-users text-azure"></i>
                                            </div>
                                            <div class="ml-3 mt-1">
                                                <h5 class="mb-1 widget-tittle">Fail</h5>
                                                <span class=""><i class="fa fa-caret-up"></i><strong class="fw-bold">@TF</strong></span>
                                                @*<span class="text-muted ml-0 spanSm">Treatment given</span>*@
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <h2 class="mt-2 number-font mb-0 float-md-right" id="h2selecttreat"></h2>
                                </div>
                            </div>
                        </div>
                        @*<div>
                        <div class="flot-chart-absolute h-99 chart-dropshadow-success" id="flotChart3" style="padding: 0px; position: relative;"><canvas class="flot-base" width="343" height="99" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 343.531px; height: 99px;"></canvas><canvas class="flot-overlay" width="343" height="99" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 343.531px; height: 99px;"></canvas></div>
                    </div>*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    @Html.Partial("_DistrictHeatMap")
                </div>
                <div class="col-md-5">
                    <div id="piechartrt"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{


    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script>
        //$(function () {
        //   // BindData();
        //});
        var list = [];
        $.sum = function (arr) {
            var r = 0;
            $.each(arr, function (i, v) {
                r += +v;
            });
            return r;
        }
        function arrayFromObject(obj) {
            var arr = [];
            for (var i in obj) {
                arr.push({ disn: i, Blocklst: obj[i] });
            }
            return arr;
        }
        $(document).ready(function () {
            var maxPathId = "";
            var res = [];
            //showsumm();
            $.ajax({
                url: document.baseURI + '/Home/Get_DashBoard',
                type: "Post",
                data: '',
                success: function (resp) {
                    if (resp.IsSuccess) {
                        var resdata = JSON.parse(resp.Data);
                        var res = resdata.Table;
                        var max1 = [], max2 = [], max3 = [], Dis = [], Blk = [], Dis1 = [],
                            sum1 = 0, sumt2 = 0, sumseltreat = 0, sumelibletreat = 0;
                        let grArray = _.groupBy(res, 'DistrictNameEn')

                        list = arrayFromObject(grArray);

                        for (var i = 0; i < list.length; i++) {
                            max1 = [], max2 = [], max3 = [], Blk = [];
                            var disObj = list[i].Blocklst[0];
                            var pathdisid = $('path[id^="' + disObj.disid + '"]');
                            var textdisid = $('text[id^="' + disObj.disid + '"]');
                            //pathdisid.attr('stroke', '#FFFFFF');
                            //pathdisid.attr('stroke-miterlimit', '5');
                            pathdisid.attr('stroke-width', '8');
                            pathdisid.attr('fill', '#2ad00b');
                            pathdisid.attr('data-val', '1');
                            maxPathId = $(pathdisid).attr("id");

                            for (var j = 0; j < list[i].Blocklst.length; j++) {
                                Blk.push(list[i].Blocklst[j].BlockNameEn);
                            }
                            pathdisid.attr('onclick', 'bindpiechart(this ,"' + disObj.DistrictNameEn + '");');
                            textdisid.attr('onclick', 'bindpiechart(this ,"' + disObj.DistrictNameEn + '");');
                            if (i == 0) {
                                bindpiechart(this,  disObj.DistrictNameEn);
                            }
                        }
                    }

                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //$('#submission-data').html(errormsg);
                }
            });
        });

        function bindpiechart(ele, disname) {
            var reslist = list.filter(x => x.disn == disname)[0];
            var max1 = [], max2 = [], max3 = [], catblk = []; var sum1 = 0, sum2 = 0, sum3 = 0;
            for (var j = 0; j < reslist.Blocklst.length; j++) {
                catblk.push(reslist.Blocklst[j].BlockNameEn);
                max1.push(reslist.Blocklst[j].TotalMark);
                max2.push(reslist.Blocklst[j].Pass);
                max3.push(reslist.Blocklst[j].Fail);
                sum1 += reslist.Blocklst[j].TotalMark;
                sum2 += reslist.Blocklst[j].Pass;
                sum3 += reslist.Blocklst[j].Fail;
            }

            var parray = document.getElementsByTagName("path");
            for (var i = 0; i < parray.length; i++) {
                var pid = parray[i];
                var id = $(pid).attr("id");
                //if (mval == id) {
                //    $('path[id^="' + id + '"]').attr('fill', '#2b04a1');
                //} else {
                //    $('path[id^="' + id + '"]').attr('fill', '#ddefe7');
                //}
                if ($('path[id^="' + id + '"]').attr('fill') != '#2ad00b') {
                    $('path[id^="' + id + '"]').attr('fill', '#ddefe7');
                } else {
                    $('path[id^="' + id + '"]').attr('fill', '#2ad00b');
                }
            }
            if ($('path[id^="' + ele.id + '"]').attr('fill') != '#2ad00b') {
                $('path[id^="' + ele.id + '"]').attr('fill', '#0874ae');
            } else {
                $('path[id^="' + ele.id + '"]').attr('fill', '#2ad00b');
            }
            Highcharts.setOptions({
                colors: ['#2b04a1', '#2ad00b', '#ff5370']
            });

            if (max1.length > 0) {


                Highcharts.chart('piechartrt', {
                    chart: {
                        //plotBackgroundColor: null,
                        //plotBorderWidth: null,
                        // plotShadow: false,
                        type: 'column',
                        marginBottom: 80,
                        options3d: {
                            enabled: true,
                            alpha: 45,
                            beta: 0
                        }
                    },
                    xAxis: {
                        categories: catblk,
                        labels: {
                            useHTML: true,
                            style: {
                                //color: '#000'
                                fontStyle: 'italic'
                            }
                        }
                    },
                    legend: {
                        itemStyle: {
                            color: 'red',
                            fontWeight: 'bold',
                            //fontStyle: 'italic',

                        }
                    },
                    title: {
                        useHTML: true,
                        text: '<div> <span style="text-align:center">' + (disname).replace('_', '') + '</span> </br> <span style="color:#2b04a1">Total Mark</span> : ' + sum1 + ' <span style="color:#2ad00b"> Pass Mark : ' + sum2 + ' </span><span style="color:#ff5370"> Fail Mark : ' + sum3 + ' </span></div>',
                        align: 'center',
                        //text: 'Total Registration : ' + aval + '  Completed Treatment : ' + aval,
                        style: {
                            /*color: '#000000',*/
                            fontWeight: 'bold'
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    //tooltip: {
                    //    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    //},
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },

                    plotOptions: {
                        //column: {
                        //    size: 300,
                        //    allowPointSelect: true,
                        //    cursor: 'pointer',
                        //    dataLabels: {
                        //        //distance: -30,
                        //        //enabled: true,
                        //        //connectorWidth:10 ,
                        //        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        //        //style: {
                        //        //    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        //        //}
                        //    }
                        //}
                        series: {
                            groupPadding: 0
                        },
                        //column: {
                        //    pointPadding: 0,
                        //    borderWidth: 0,
                        //    groupPadding: 0,
                        //    shadow: false
                        //}
                        column: {
                            //stacking: 'normal',
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    series: [{

                        name: 'Total',
                        data: max1
                    },
                    {
                        name: 'Pass',
                        data: max2


                    },
                    {
                        name: 'Fail',
                        data: max3


                    }]
                });
            }
            else {
                $('#piechartrt').html("No Data");
                $('#piechartrt').addClass("text-danger");
            }
        }
    </script>
}